@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: hsl(0, 0%, 7%);
	color: hsl(0, 0%, 100%);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	height: 100%;
	margin: 2em 0;
}

.content-wrapper {
	max-width: 1000px;
	width: 90%;
}
